<% 
    fillings = ["Carnitas", "Al Pastor", "Carne Asada"]
%>
<%= %>

<h1>Tacos!!!</h1?>
<ul>
    <% for filling in fillings%>
        <li><%= filling %></li>
    <%end%>
<ul>




<h1>Tacos!!!</h1?>
<ul>
    <li>Carnitas</li>
    <li>Al Pastor</li>
    <li>Carne Asada</li>
</ul>